@model RestaurantAspNETCoreMVC.Models.Flavour

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>FamousFlavor</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FamousFlavor" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Flavour_Name" class="control-label"></label>
                <input asp-for="Flavour_Name" class="form-control" />
                <span asp-validation-for="Flavour_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flavour_Image" class="control-label"></label>
                <input type="file" asp-for="Flavour_Image" class="form-control" />
                <span asp-validation-for="Flavour_Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flavour_Desc" class="control-label"></label>
                <input asp-for="Flavour_Desc" class="form-control" />
                <span asp-validation-for="Flavour_Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="FamousFlavorFetch">Back to List</a>
</div>

