@model RestaurantAspNETCoreMVC.Models.FAQs

@{
    ViewData["Title"] = "FAQitemsEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>FAQitemsEdit</h1>

<h4>FAQs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FAQitemsEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Faq_Id" />
            <div class="form-group">
                <label asp-for="Faq_Question" class="control-label"></label>
                <input asp-for="Faq_Question" class="form-control" />
                <span asp-validation-for="Faq_Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Faq_Answer" class="control-label"></label>
                <input asp-for="Faq_Answer" class="form-control" />
                <span asp-validation-for="Faq_Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="FAQitems">Back to List</a>
</div>

