
@{
    ViewData["Title"] = "AfterBuyBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="font-size: 60px; font-weight:bolder; text-align:center; margin-top: 40px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;">Thank You For Order!</h1>
<h3 style="font-size: 40px; font-weight:bolder; text-align:center; margin-top: 20px; font-family:'Franklin Gothic Medium', 'Arial Narrow' , Arial, sans-serif ;">You Will Get Your Ice cream Within Half Hour...</h3>

