@model RestaurantAspNETCoreMVC.Models.BuyBook

@{
    ViewData["Title"] = "BuyBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h4>OrderBook</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BuyBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book_Id" class="control-label"></label> 
                <input hidden asp-for="Book_Id" class="form-control" />
                <span asp-validation-for="Book_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label"></label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" readonly class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentOption" class="control-label"></label>
                <input asp-for="PaymentOption" class="form-control" />
                <span asp-validation-for="PaymentOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
 *@

<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="section-title position-relative text-center mb-5">Order Ice Cream</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="contact-form bg-light rounded p-5">
                    <div id="success"></div>
                    <form method="post" action="BuyBook">
                       
                            <div class="control-group">
                                <input type="text" class="form-control p-4" asp-for="Name" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class=" control-group">
                                <input type="email" asp-for="Email" class="form-control p-4" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                                <p class="help-block text-danger"></p>
                            </div>
                        <div class=" control-group">
                            <input type="text" asp-for="ContactNumber" class="form-control p-4" id="email" placeholder="Your Number" required="required" data-validation-required-message="Please enter your email" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class=" control-group">
                            <input type="text" asp-for="Address" class="form-control p-4" id="email" placeholder="Your Address" required="required" data-validation-required-message="Please enter your email" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class=" control-group">
                            <input type="text" asp-for="Cost" readonly class="form-control p-4" id="email" placeholder="Your Address" required="required" data-validation-required-message="Please enter your email" />
                            <p class="help-block text-danger"></p>
                        </div>
                         <div class="control-group">
                       
                            <select required asp-for="PaymentOption" asp-items="@ViewBag.payment" style="   width: 100%;

    border: 2px solid black;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    transition: border-color 0.3s ease;">
                                <option value="" class="form-control" id="subject">----Payment Method----</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div> 
                      
                        <div>
                            <button class="btn btn-primary btn-block py-3 px-5" type="submit" id="sendMessageButton">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
